/* Margins. */
/* Longhand. */
.margin {
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}

/* Shorthand. */
.margin {
    margin: 5px 10px 5px 10px; /* top right bottom left */
}

/* Further shorthand. */
.margin {
    margin: 5px 10px; /* top-bottom left-right */
}


/* Background. */
/* Longhand. */
.header {
    background-color: #fff;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: top left;
}

/* Shorthand. */
.header {
    background: #fff url(background.png) no-repeat top left; /* Color, image, repeat, position. */
}


/* Fonts. */
/* Longhand. */
.font-style {
    font-style: italic;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 1.2;
    font-family: Arial, sans-serif;
}

/* Shorthand. */
.font-style {
    font: italic bold 0.8em/1.2 Arial, sans-serif;
}


/* Padding. */
/* Longhand. */
.padding-longhand {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}

/* Shorthand. */
.padding-shorthand {
    padding: 10px 20px 40px; /* top right bottom left; */
}
