/* Margins. */
/* Longhand. */
.margin-longhand {
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}

/* Shorthand. */
.margin-shorthand {
    margin: 5px 10px 5px 10px; /* top right bottom left */
}

/* Further shorthand. */
.margin-shorthand {
    margin: 5px 10px; /* top-bottom left-right */
}


/* Background. */
/* Longhand. */
.header-longhand {
    background-color: #fff;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: top left;
}

/* Shorthand. */
.header-shorthand {
    background: #fff url(background.png) no-repeat top left; /* Color, image, repeat, position. */
}


/* Fonts. */
/* Longhand. */
.font-longhand {
    font-style: italic;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 1.2;
    font-family: Arial, sans-serif;
}

/* Shorthand. */
.font-longhand {
    font: italic bold 0.8em/1.2 Arial, sans-serif;
}

/* Border. */
/* Longhand. */
.border-longhand {
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}

/* Shorthand. */
.border-shorthand {
   border: 1px solid #fff; 
}

/* Padding. */
/* Longhand. */
.padding-longhand {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}

/* Shorthand. */
.padding-shorthand {
    padding: 10px 20px 40px; /* top right bottom left. */
}


/* Margin. */
/* Longhand. */
.margin-longhand {
    margin-top: 2px;
    margin-bottom: 4px;
    margin-left: 3px;
    margin-right: 8px;
}

/* Shorthand/ */
.margin-shorthand {
    margin: 2px 8px 4px 3px; /* top right bottom left. */
}


/* Lists. */
/* Longhand. */
.lists-longhand {
    list-style-type: disc;
    list-style-position: inside;
    list-style-image: url(disc.png);
}

/* Shorthand. */
.lists-shorthand {
    list-style: disc inside url(disc.png);
}


/* Animation. */
/* Longhand. */
.animation-longhand {
    animation-duration: 5s;
    animation-name: running-man;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-fill-mode: normal;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-out;
}

/* Shorthand. */
.animation-shorthand {
    animation: 5s running-man 2s alternate infinite ease-out;
}

/* Border radius. */
/* 1-value syntax. All corners. */
.red-square {
    background: red;
    border-radius: 1em;
}

/* 2-value syntax. Top-left, bottom right; top-right, bottom-left. */
.green-square {
    background: green;
    border-radius: 1em 2em;
}


/* 3-value syntax. Top-left; top-right, bottom-left; bottom-right. */
.blue-square {
    background: blue;
    border-radius: 1em 2em 3em;
}

/* 4-value syntax. Top-left; top-right; bottom-right; and bottom-left. */
.yellow-square {
    background: yellow;
    border-radius: 1em 2em 3em 4em;
}
